<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script>
      function country_handler(country) {
          // sets the country cookie which is read in the country.html page
          // this is used to show data for a particular country without creating a bunch of specific pages
          Cookies.set("country", country)
          // show the country page
          window.location.href = "country.html"
      }
    </script>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">COVID-19 by DT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="world.html">World</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:country_handler('Canada')">Canada</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:country_handler('US')">United States</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="javascript:country_handler('Canada')">Canada</a>
              <a class="dropdown-item" href="javascript:country_handler('US')">United States</a>
              <a class="dropdown-item" href="javascript:country_handler('China')">China</a>
              <a class="dropdown-item" href="javascript:country_handler('Italy')">Italy</a>
              <a class="dropdown-item" href="javascript:country_handler('Brazil')">Brazil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="all_countries.html">Other Countries...</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="top5countries.html">Top 5 Countries</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {{ content }}
    </div>
  </body>

  <footer class="container">
    <hr/>
    <small class="text-muted">Contact <a href="mailto:stephen.d.gibson@gmail.com">Stephen D. Gibson</a></small>
  </footer>
</html>